.form-group {
    margin-bottom: 15px;
}

.form-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 96%;
}

.form-button {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    width: 30%;
}


.form-button:hover {
    background-color: var(--hover-color);
}

.login-form .form-input::placeholder {
    color: #aaa;
    font-style: italic;
}

.form-input2 {
    margin-bottom: 7px;
    padding: 7px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 96%;
}

.recipe-form input, .recipe-form textarea, .contact-form input, .contact-form textarea, .nutrition-form input {
    margin-bottom: 10px; /* Aumentei a margem inferior para mais espaço */
    padding: 12px; /* Aumentei o padding para um espaço interno mais confortável */
    font-size: 1rem;
    border: 2px solid var(--border-color); /* Reduzi a espessura da borda */
    border-radius: 30px; /* Aumentei o raio da borda para bordas mais arredondadas */
    width: 48%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionei uma sombra para profundidade */
    transition: border-color 0.3s, box-shadow 0.3s; /* Adicionei uma transição suave */
}

.recipe-form input:focus, .recipe-form textarea:focus, .contact-form input:focus, .contact-form textarea:focus, .nutrition-form input:focus {
    border-color: var(--focus-color); /* Cor da borda ao focar */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao focar */
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.recipe-card {
    background-color: #fff;
    border: 1px solid var(--border-color);
    padding: 7px;
    width: calc(33.333% - 30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    transition: transform 0.4s;
    cursor: pointer;
}

.recipe-card:hover {
    transform: translateY(-5px);
}

.recipe-card h3 {
    margin-top: 0;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.recipe-card p {
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    max-width: 100%;
}

.recipe-detail {
    background-color: #fff;
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.235);
}

.recipe-detail h3 {
    margin-top: 0;
    color: var(--primary-color);
}

#recipe-detail {
    max-width: 100%;
    word-break: break-word;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 10px;
}

.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.search-bar input {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    max-width: 600px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.recipe-ingredients ul {
    list-style-type: disc;
    /* Bolinhas pretas */
    padding-left: 20px;
    /* Espaçamento à esquerda */
}

.recipe-ingredients li {
    margin-bottom: 5px;
    /* Espaçamento entre os itens da lista */
}

#ingredients-list {
    list-style-type: disc;
    padding-left: 20px;
}

#ingredients-list li {
    margin-bottom: 5px;
    color: var(--text-color);
}

#recipe-image {
    display: flex;
    flex-direction: column;
    /* Alinha os itens em coluna */
    align-items: flex-end;
    /* Alinha os itens à direita */
    position: relative;
    /* Mantém a posição relativa */
    float: right;
    /* Mantém o contêiner à direita */
    top: -280px;
    /* Ajuste esse valor para mover o item para cima conforme necessário */
    width: 40vw;
    /* Define a largura como 40% da largura da viewport */
    height: 25vw;
    /* Define a altura igual à largura para manter o formato quadrado */
    max-width: 100%;
    /* Garante que o elemento não ultrapasse a largura do contêiner */
    max-height: 100vh;
    /* Garante que o elemento não ultrapasse a altura da viewport */
    overflow: hidden;
    /* Esconde o conteúdo que excede o quadrado */
}

#recipe-image img {
    width: 100%;
    /* A imagem ocupa 100% da largura do quadrado */
    height: auto;
    /* Mantém a proporção da imagem */
    object-fit: contain;
    /* Garante que a imagem preencha o quadrado sem distorção */
    margin-bottom: 10px;
    /* Espaço abaixo da imagem para o botão */
}

#remove-image {
    margin-top: 0;
    /* Remove o espaço acima do botão */
    display: flex;
    /* Mantém o botão em flex */
    justify-content: center;
    /* Centraliza o botão */
    align-items: center;
    /* Alinha o conteúdo do botão ao centro */
}

/* Estilo do placeholder para input e textarea */
input::placeholder,
textarea::placeholder {
    /* color: rgb(86, 21, 21); Cor do texto do placeholder */
    /*font-style: italic; Estilo do texto do placeholder */
    text-align: center;
    /* Estilo do texto do placeholder */
}

/* Estilo do placeholder quando o input ou textarea está focado */
input:focus::placeholder,
textarea:focus::placeholder {
    color: rgb(103, 48, 48);
    /* Cor do texto do placeholder ao focar */
}


input#ingredient {
    width: 20%;
    height: 20%;

}

input#quantity {
    width: 20%;
    height: 20%;
}